PAE_Stuff.FPK
PAE_Units.FPK
Sounds
PAE_Structures.FPK
PAE_Extras
/CvGameCoreDLL/Makefile
*.obj
*.suo
*.sdf
*.user
*.log
*.pch
*.res
*.pdb
/CvGameCoreDLL/depends
/PieAncientEuropeV/Assets/XML/CIV4GlobalDefinesSchema.xml
/PieAncientEuropeV/Assets/XML/CIV4GlobalTypesSchema.xml
/PieAncientEuropeV/Assets/XML/Audio/AudioScriptSchema.xml
/PieAncientEuropeV/Assets/XML/BasicInfos/CIV4BasicInfoSchema.xml
/PieAncientEuropeV/Assets/XML/Events/CIV4EventSchema.xml
/PieAncientEuropeV/Assets/XML/Interface/CIV4InterfaceSchema.xml
/PieAncientEuropeV/Assets/XML/Misc/CIV4MiscSchema.xml
/PieAncientEuropeV/Assets/XML/Buildings/CIV4LSystemSchema.xml
/PieAncientEuropeV/Assets/XML/Audio/AudioDefinesSchema.xml
/PieAncientEuropeV/Assets/XML/Art/CIV4ArtDefinesSchema.xml
/PieAncientEuropeV/Assets/Python/CvUtil.py
/PieAncientEuropeV/Assets/Python/DomPyHelpers.py
/PieAncientEuropeV/Assets/Python/PyHelpers.py
/PieAncientEuropeV/Assets/Python/CvPerfTest.py
/PieAncientEuropeV/Assets/Python/PitBoss
/PieAncientEuropeV/Assets/Python/PitBoss/PbAdmin.py
/PieAncientEuropeV/Assets/Python/PitBoss/PbWizard.py
/PieAncientEuropeV/Assets/Python/CvDebugTools.py
/PieAncientEuropeV/Assets/Python/CvDiplomacy.py
/PieAncientEuropeV/Assets/Python/CvCameraControls.py
/PieAncientEuropeV/Assets/Python/_DebugTools
/PieAncientEuropeV/Assets/Python/pyUnit
/PieAncientEuropeV/Assets/Python/System
/PieAncientEuropeV/Assets/Python/_DebugTools/AudioLogParser.py
/PieAncientEuropeV/Assets/Python/pyUnit/CvUnitController.py
/PieAncientEuropeV/Assets/Python/CvQuestManager.py
/PieAncientEuropeV/Assets/Python/CvScreenUtils.py
/PieAncientEuropeV/Assets/Python/ScreenInput.py
/PieAncientEuropeV/Assets/Python/vector.py
/PieAncientEuropeV/Assets/Python/CvDefineEditor.py
